.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;

    padding: 0 32px;
    background: #000000;
    overflow: hidden;

    .left {
        float: left;
        height: 50px;
        line-height: 50px;
        .span {
            font-size: 24px;
            color: #ffffff;
        }
    }
    .right {
        float:right;
        height: 50px;
        line-height: 50px;
        text-align: right;
        .img {
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            vertical-align: middle;
        }
    }
}